* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "roboto", sans-serif;
}

/* Header Section */

.header {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    padding: 1em 13em;
    
}

nav {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    
}

.logo {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    align-items: center;
}

ul, .header a {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #f9faf8;
    text-decoration: none;
    
    
}

/*Body Section*/

.welcome {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10em 13em;
    gap: 2em;
    
}

.welcome .left {
    display: flex;
    flex-direction: column;
}



h1 {
    font-size: 48px;
    color: white;
    padding: 0 0 10px 0;
}

p {
    font-size: 18px;
    color: white;
    padding: 0 0 10px 0;
}

.button {
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding: 10px
}

.welcome .right {
    display: flex;
    flex-shrink: 0
    

}

.image img {
    display: flex;
    border-radius: 8px;
    border: 4px solid gray;
    width: 300px;
    height: 300px;
   
}

/*Content Section*/

.info p {
   font-size: 18px;
   color: #1f2937;
   text-align: center;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
}

.card-content {
    align-items: center;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;

}

/*Quote Section*/

.quote {
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
    padding: 0 200px;
    
}

.quote p{
    font-size: 36px;
    font-style: italic;
    text-align: center;
    color: #1F2937;
    font-family: "Roboto", sans-serif;

}

.quote b {
    font-family: "Roboto", sans-serif;
    padding: 0 20px 0 50px;
    text-align: center;
}

/*Sign up section*/

.sign-up-box {
    display: flex;
    align-items: center;
    font-family: "Roboto" sans-serif;
    border-radius: 5px;
    border-color: none;
    margin: 50px 200px;
    padding: 10px 80px;
    background-color: #3882F6;
    color: white;
}

.sign-text {
    text-align: left;
    margin: 20px
}

.sign-up-button button {
    color: #fff;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
    margin: 0 200px;

}

/*Footer Section*/
.footer {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}